    *{
        margin: 0px;
        padding: 0px;
       
    }
    body{
        background-color: #DFEB7C;
    }
    .active{
    margin-right: 20px;
    margin-left: 20px;
    }

    .active:hover{
        cursor: pointer;
        background-color:darkblue;
    }

    .card-container {
        display:flex;
        justify-content: space-between; 
      }
    
      .card {
        margin: 0 auto; /* Merkeze almak için */
        float: none; /* Sağa veya sola yaslanmasını önler */
        max-width: 300px; /* Maksimum genişlik */
        max-height: 300px;
      }

    h5 .text-start{
        background-color: white;
    }

